* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}


.section {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    /* position: relative; */
    max-width: 1000px;
    margin: auto;
    padding-top:50px;
    /* margin-bottom: 25px; */
    gap: 100rem;
}


/* header */
.header {
    background-color: #333;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex; 
    gap: 100px;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-list a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* home page section */

.home_container {
    margin-top: 50px;
    margin-inline: auto;
    padding-inline: auto;
    text-align: center;
}

.home_title {
    font-size: 45px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    max-width: 500px;
}




/* about me section */

.about_container {
    margin-top: 500px;
    margin-inline: auto;
    padding-inline: auto;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding-top:100px;
    margin-bottom: 25px;
}

.about_title {
    font-size: 45px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    max-width: 500px;
}

#about {
    padding-top: 50px;
}

#about h1 {
    font-size: 28px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 0;
    text-align: left;
}


#about p {
    font-size: 18px;
    line-height: 1.6;
    padding-left: 15px;
    text-align: left;
}

/* projects section */

#projects {
    padding-top: 50px;
}

#projects h1 {
    font-size: 28px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 0;
}

#projects h2 {
    font-size: 20px;
    line-height: 1.6;
    padding-left: 15px;
}

#projects p {
    font-size: 15px;
    line-height: 1.6;
    padding-left: 15px;
}


/* hobbies section */



