* {font-family: Arial, sans-serif;}

img{width:70%;height:auto;}

html {scroll-behavior: smooth;}

body{background-color: #000;}

h2{font-weight: bold; font-size: 30px;}

h3{font-weight: bold; font-size: 25px;}

span{font-size: 15px;}

p{font-weight: normal;}

.section {
    display: block;
    justify-content: center;
    align-items: center;
    color:white;
    margin: auto;
    width:70%;
    scroll-margin-top: 6em;
    margin-bottom: 5em;
}


a {color: white;}

/* header */
.header {
    padding-top: 20px;
    background-color: #000;
    width: 100%;
    height: 7;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    padding: 5px 10px;
    transition: 0.5s;
    margin: auto;
}

.navbar a:hover {
    color: black;
    background-color: white;
}


/* home page section */

#home .container{
    margin:auto;
    margin-top: 100px;
    display:block;text-align:center;
}
#home .hero-img{width:40%;height:auto;margin:0 auto 1em auto;border-radius:5em;}

.home_title {
    font-size: 45px;
}


/* about me section */

/* shared styles */
#about .container #projects #experiences{
    width:80%;
    text-align: left;
    margin:auto;
}

#about p {
    font-size: 20px;
}

/* projects section */

.project_cards{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
}

.visual_card {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.visual_card img, .visual_card video {
    max-width:95%;
    max-height: 95%;
    object-fit: contain; 
}

.link_card{
    text-decoration: none;
    color : white;
    margin: 30px;
    transition: 0.5s;
    flex: 1 1 45%; /* make them share space */
    max-width: 500px; /* optional: limit width */
    min-width: 300px; /* optional: minimum width */
    box-sizing: border-box;
}

.link_card:hover {
    color:#fff; 
    text-decoration:none;
    transform: scale(1.1);
    
}

.text_card{
    font-size: 18px;
}

.text_card span{
    font-size: 15px;
    
}



/* experiences section */

.experience_container{
    margin: 1em auto;

}

.experience_visual{
    padding: 1em;
    display: flex;
}

.experience_visual img{
    transition: 0.5s;
}

.experience_visual img:hover {
    transform: scale(1.1);
}


/* contact section */

.contact_container {
    text-align: left;
}

.resume{
    border: 1px solid white;
    display: inline-block;
    padding: 5px 10px;
    transition: 0.5s;
}

.resume a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.resume:hover{
    background-color: rgb(255, 255, 255);
}

.resume a:hover{
    color: black;
}

/* footer */
.footer{
    margin-top: 2em;
    padding: 1em;
    color: rgb(166, 166, 166);
    text-align: center;
}


/* video container */
.link_container {
  display: flex;
  gap: 20px; /* space between the two */
  flex-wrap: wrap; /* wrap on small screens */
  justify-content: center; /* center them horizontally */
}

/* On smaller screens, stack them */
@media (max-width: 768px) {
  .link_card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .visual_card,
  .text_card h3 span{
    font-size: 1.2rem;
  }
  .preview-video {
    width: 100%;
    height: auto;
  }
}